content_table {
  color: rgb(157, 189, 196);
}

/* Styles for the table */
.content_table {
  margin-top: 30px;
}

/* Styles for the action buttons */
.btn_view {
  background-color: #5682ce;
  color: white;
  padding: 8px 16px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn_view:hover {
  background-color: #4374c9;
}

.btn_update {
  background-color: #22c55e;
  color: white;
  padding: 8px 16px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn_update:hover {
  background-color: #16a34a;
}

.btn_delete {
  background-color: #ef4444;
  color: white;
  padding: 8px 16px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_delete:hover {
  background-color: #dc2626;
}

.active_filter {
  background-color: blue;
  color: white;
}
/*

/* Styles for the search bar */
.search_bar {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
  margin-left: 970px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 30px;
}

/* Styles for the export button */
.btn_export {
  background-color: #008cba;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.btn_export:hover {
  background-color: #1b6cf9;
}

.btn_add {
  background-color: #3981ff;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}
.btn_add:hover {
  background-color: #2373ff;
}

.contentbody {
  background-color: rgb(238, 236, 236);
  padding: 10px;
  box-shadow: 0 3px 10px rgba(13, 13, 13, 0.2);
  border-radius: 12px;
  border-radius: 10px;
}
