.home__container img{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom , rgb(13, 223, 101) , rgba(54, 11, 245, 0));

}
main{
    padding: -22rem;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.product{
    border: 1px red solid;
    margin: 1rem;
    border-radius: 24px;
}
.product img {
    width: 100%;
    max-width: 400px;
    border-radius: 24px;
   
} 
.product-info{
    padding: 1rem;
}
#img{
    width: 100%;
    max-width: 400px;
    
    height: 200px;
}
#feature{
    padding-bottom: 60px;
}
.btn-primaryy{
    background-color: #FD9801;
    color: #100901;
  }
  #title11{
    background-color: #100901;
  }
  #card_btn2{
    background-color: #FD9801;
  }
  .custom-card {
    transition: transform 0.3s;
  }
  
  .custom-card:hover {
    transform: scale(1.05);
  }