/* my */
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }
  
  body {
    background-color: #ffff;
  }

img {
    max-width: 100%;
    height: auto;
  }

.RegisterForm
{
  border-radius: 15px 50px;
  background-color: rgb(241, 180, 94);
  margin-top: 10px;
  padding:60px;
  margin-right: 150px;
  position: relative;
  top: 10px;
  left: 400px;
  max-width: 950px;
}

.CustomerReg-bannerImage-container
{
  position: absolute;
  top:300px;
  right: 500px;
  left:-50px;
  z-index: -1;
  max-width: 600px;
}

.Title{
  margin-right: 250px;
  position: relative;
  top: 10px;
  left: 300px;
  bottom:100px;
}
