.counter-heading {
    padding: 50px;
    text-align: center;
    font-size: 30px;
  }

  .heading-para {
    font-size: 20px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 20px;
    text-align: center;
  }

  .category-title {
    font-size: 25px;
    text-align: center;
  }

  .row:after {
    content: ""; 
    display: table;
    clear: both;
  }